.About {
    position: relative;
    width: 50em;
    margin: 0 auto;
    margin-top: 9em;
}

.About h1 {
    line-height: 2em;
}

.About h2 {
    line-height: 2em;
    border-bottom: solid 1px currentColor;
    margin-top: 2em;
}

.About p {
    line-height: 2em;
    font-size: 1.125em;
    text-indent: 2em;
}