.Upload {
    position: relative;
    width: 50em;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

.Upload-window {
    position: relative;
    margin-top: 1em;
}

.Upload-selection-container {
    position: relative;
    margin-top: 1em;
}

.Upload-selection-container span {
    margin-left: 1em;
    margin-right: 1em;
}

.Upload-selection-container select {
    background-color: white;
    color: currentColor;
}

.Upload-button {
    margin-top: 1em;
}